<!-- Las librerias js de bootstrap y jquery se configuran en
C:\Users\ISSCJRMP\Documents\ISSC811\Peimbert\wsa-dashboard\angular.json -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand navbar-expand">
    <img
      src="https://docs.google.com/uc?export=download&id=142repMoUHKiHUEbpqHowl_iZzaVgb0hy"
      alt="logo"
      style="width: 40px;"
    />
  </div>

  <a class="navbar-brand" href="https://github.com/isscjrmpacheco"
    >ISSC 811 José Roberto Mejía Pacheco</a
  >

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link active" href="#"
          >Grafica de Barras <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item ">
        <a class="nav-link active" href="#">Gráfica de Líneas</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" href="#">Gráfica de Dona</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" href="#">Gráfica de Radar</a>
      </li>
    </ul>
  </div>
</nav>
